.content {
    padding: 10px;
}

.movieCover {
    height: 400px;
    max-width: 400px;
}

.directorImage {
    background-size: cover;
}

.directorName {
    font-size: 16px;
    margin-top: 10px;
    margin-left: -20px;
}

.uppercase-text {
    text-transform: uppercase;
}

.movieInfo {
    font-size: 14px;
    color: rgb(120,120,120);
}

.movieInforBold {
    color: rgb(115,115,115);
}

.movieSynopsis {
    text-align: justify;
}