.director-image {
    background-size: cover;
}

.moviePoster-image {
    height: 400px;
}

.content>mat-card {
    width: 200px;
}

.routerLinkMovie {
    cursor: pointer;
}

.routerLinkMovie:hover {
    text-decoration: underline;
}