<mat-card class="mat-elevation-z4">
    <mat-card-header *ngIf="showHeader">
        <img mat-card-avatar class="director-image routerLinkClass" [src]="Filme.diretor.imagem"
            onerror="this.src='./../../../../assets/director.png'"
            [routerLink]="['/directors/detail', Filme.diretor.nome]">
        <mat-card-title class="routerLinkClass" [routerLink]="['/directors/detail', Filme.diretor.nome]">
            {{Filme.diretor.nome}}</mat-card-title>
        <mat-card-subtitle>{{Filme.genero}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [routerLink]="['/movies/detail/', Filme.nome]" class="moviePoster-image routerLinkClass"
        [src]="Filme.imagem" alt="Poster of a {{Filme.nome}}">
    <mat-card-content>
        <span [routerLink]="['/movies/detail/', Filme.nome]" class="mat-h2 routerLinkClass">{{Filme.nome}}</span>
        <p *ngIf="showSynopsis">
            {{sliceSinopses(Filme.sinopse)}}
        </p>
    </mat-card-content>
</mat-card>