<h2 mat-dialog-title>Adiciona um filme</h2>
<mat-horizontal-stepper linear="true" #stepper>
    <mat-step [stepControl]="directorFormGroup" editable="false">
        <ng-template matStepLabel>{{stepDirectorLabel}}</ng-template>
        <form *ngIf="!isNewDirector" [formGroup]="directorFormGroup" class="form">
            <mat-form-field class="form-element">
                <mat-label>Selecione um diretor</mat-label>
                <mat-select formControlName="diretor" required>
                    <mat-option *ngFor="let diretor of diretores" [value]="diretor">{{diretor.nome}}</mat-option>
                </mat-select>
                <mat-hint class="select-director" (click)="newDirector()">Não encontrou o diretor desejado? Adicione um
                    agora.</mat-hint>
            </mat-form-field>
        </form>
        <form *ngIf="isNewDirector" [formGroup]="directorFormGroup" class="form">
            <div class="form-element">
                <span class="select-director" (click)="selectDirector()">Quero voltar e escolher um diretor</span>
            </div>
            <mat-form-field class="form-element">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome" placeholder="Nome" required>
                <mat-error *ngIf="directorNameExists()">Já existe um diretor cadastrado com esse nome</mat-error>
            </mat-form-field>
            <mat-form-field class="form-element">
                <mat-label>Imagem</mat-label>
                <input matInput formControlName="imagem" placeholder="Link da imagem">
            </mat-form-field>
            <mat-form-field class="form-element">
                <mat-label>Biografia</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" formControlName="biografia"
                    placeholder="Biografia">
                </textarea>
            </mat-form-field>
        </form>
        <div class="form-element">
            <button class="button" color="primary" mat-button (click)="nextStep()" matStepperNext
                [disabled]="directorFormGroup.invalid">Próximo
            </button>
        </div>
    </mat-step>
    <mat-step [stepControl]="movieFormGroup" editable="false">
        <form [formGroup]="movieFormGroup" class="form">
            <ng-template matStepLabel>Filme</ng-template>
            <mat-form-field class="form-element">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome" placeholder="Nome" required>
                <mat-error *ngIf="movieNameExists()">Já existe um file cadastrado com esse nome</mat-error>
            </mat-form-field>
            <mat-form-field class="form-element">
                <mat-label>Gênero</mat-label>
                <input matInput formControlName="genero" placeholder="Gênero" required>
            </mat-form-field>
            <mat-form-field class="form-element">
                <mat-label>Imagem</mat-label>
                <input matInput formControlName="imagem" placeholder="Link da Imagem" required>
            </mat-form-field>
            <mat-form-field class="form-element">
                <mat-label>Sinopse</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" formControlName="sinopse"
                    placeholder="Sinopse" required></textarea>
            </mat-form-field>
            <mat-form-field class="form-element">
                <mat-label>Classificação Indicativa</mat-label>
                <input matInput formControlName="classificacaoIndicativa" placeholder="Classificação Indicativa">
            </mat-form-field>
            <mat-form-field class="form-element">
                <mat-label>Duração</mat-label>
                <input matInput formControlName="duracao" placeholder="Duração">
            </mat-form-field>
            <mat-form-field class="form-element">
                <mat-label>Data de lançamento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dataLancamento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="form-element">
                <button class="button" color="primary" mat-button [disabled]="movieFormGroup.invalid"
                    (click)="createNewMovie()">Adicionar Filme</button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>
<div class="form-element">
    <button mat-button class="button" color="warn" (click)="closeDialog()">Fechar</button>
</div>